### Microdatos de parque de vehículos (anual)
El objetivo de este recurso es el análisis del número de vehículos, su composición y características técnicas.

#### FUENTE:

https://www.dgt.es/menusecundario/dgt-en-cifras/dgt-en-cifras-resultados/dgt-en-cifras-detalle/Microdatos-de-parque-de-vehiculos-anual/

In [1]:
# Agregamos la ruta donde se encuentran las funciones de utilidad
import sys
sys.path.insert(0, '../utils/')

# Import de librerías necesarias
from variables import *
import pandas as pd

In [2]:
# TODO!!!!! Cambiar a read_csv indicando el número de filas a cargar y guardar en fichero aparte para subir a modo de prueba
# Lectura de las primeras 20 filas para ver que tipos de dato contiene cada columna
rows_array = []
columns_array = []

with open(SOURCE_DATA_FILENAME, "r") as open_file:
    array_line = []
    currentLine = 0;
    for line in open_file:
        array_line = line.split("|");
        if currentLine == 0:
            columns_array = array_line
        else:
            rows_array.append(array_line)
            
        currentLine += 1;        
        if currentLine >= 20:
            break;
    
open_file.close()

df = pd.DataFrame(rows_array, columns=columns_array)
df

,PROVINCIA,MUNICIPIO,FABRICANTE,MARCA,MODELO,TIPO,VARIANTE,VERSION,PROVINCIA_MATR,FECHA_MATR,...,TIPO_DISTINTIVO,EMISIONES_EURO,EMISIONES_CO2,CARROCERIA,DISTANCIA_EJES,EJE_ANTERIOR,EJE_POSTERIOR,PLAZAS,PLAZAS_MAX,PLAZAS_PIE\n
0,14,,,HONDA,Â¡,,Â¡,Â¡,29,13/09/2005,...,DISTINTIVO C,EURO III,,,0,0,0,2,2,0\n
1,14,,,RENAULT,Â¡,17GK,Â¡,Â¡,01,27/03/2012,...,DISTINTIVO B,EURO V,0.000,,0,0,0,3,3,0\n
2,04,04013,"JIANGSU DAFIER MOTORCYCLE CO., LTD",HANWAY,Â¡,Â¡,Â¡,Â¡,03,13/08/2015,...,DISTINTIVO B,EURO 2,0.000,,1355,0,0,2,2,0\n
3,20,20040,,TOYOTA,TOYOTA LAND CRUISER,,,,05,07/08/2003,...,SIN DISTINTIVO,EURO 3,,,0,0,0,5,5,0\n
4,08,08019,PORSCHE AG,PORSCHE,Â¡,Â¡,Â¡,Â¡,05,01/08/2017,...,DISTINTIVO C,EURO 5,268.000,AD,2350,1490,1548,4,4,0\n
5,12,12040,,CITROEN,C5 2.0,,,,48,21/02/2003,...,SIN DISTINTIVO,EURO 3,,,0,0,0,5,5,0\n
6,07,07040,,FORD,KA,,,,36,02/04/2003,...,DISTINTIVO B,EURO 3,,,0,0,0,4,4,0\n
7,18,,,TOYOTA,Â¡,AJ1(A),Â¡,Â¡,19,22/05/2009,...,DISTINTIVO C,EURO 4,,,0,0,0,4,4,0\n
8,18,18087,,PIAGGIO,VESPA LX 50,C38,,,19,25/07/2007,...,DISTINTIVO B,EURO II,,,0,0,0,2,2,0\n
9,22,,,MERCEDES-BENZ,E 320 CDI,211,Â¡,Â¡,22,04/12/2006,...,DISTINTIVO B,EURO 4,,,0,0,0,5,5,0\n
10,08,08194,"SEAT,S.A.",SEAT,IBIZA,KJ,BDKRF,Â¡,05,12/08/2019,...,DISTINTIVO C,EURO 6AG,108.000,AB,2548,1525,1505,5,5,0\n
11,08,08019,XIAMEN XIASHING MOTORC.CO.LTD,SYM,SYMPHONY,XB,A3,2,05,27/11/2017,...,DISTINTIVO C,EURO 4,62.000,,1330,0,0,2,2,0\n
12,10,,,SEAT,600-E,,,,,16/01/1973,...,SIN DISTINTIVO,,0.000,,0,0,0,4,4,0\n
13,21,21050,"RENAULT, S.A.S.",RENAULT,ARKANA E-TECH,RJL,LH2,MU4UA5710000,40,28/06/2022,...,ECO,EURO 6AP,108.000,AB,2720,1562,1584,5,5,0\n
14,08,08118,,DAEWOO,Â¡,,Â¡,Â¡,05,30/05/2003,...,DISTINTIVO B,EURO 3,,,0,0,0,5,5,0\n
15,08,,,RENAULT,LAGUNA,,,,05,15/04/2003,...,DISTINTIVO C,EURO 4,,,0,0,0,5,5,0\n
16,10,,TOYOTA MOTOR EUROPE NV/SA,TOYOTA,TOYOTA RAV4,XA3(A),WWA42(N),WWA42L-ANFMRW(5Q),28,04/01/2016,...,DISTINTIVO C,EURO 6W,124.000,AF,2660,1560,1560,5,5,0\n
17,08,08019,,SEAT,AROSA 1.0 5V,,,,,15/09/1999,...,SIN DISTINTIVO,EURO 2,,,0,0,0,4,4,0\n
18,11,11014,Â¡,Â¡,Â¡,Â¡,Â¡,Â¡,09,28/07/2021,...,SIN DISTINTIVO,,0.000,DC21,650,1860,1860,0,0,0\n

In [3]:
df = pd.read_csv(SOURCE_DATA_FILENAME, sep="|")

C:\Users\justo\AppData\Local\Temp\ipykernel_27412\313500749.py:1: DtypeWarning: Columns (19,20,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(SOURCE_DATA_FILENAME, sep="|")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37890861 entries, 0 to 37890860
Data columns (total 45 columns):
 #   Column             Dtype
---  ------             -----
 0   PROVINCIA          int64
 1   MUNICIPIO          float64
 2   FABRICANTE         object
 3   MARCA              object
 4   MODELO             object
 5   TIPO               object
 6   VARIANTE           object
 7   VERSION            object
 8   PROVINCIA_MATR     float64
 9   FECHA_MATR         object
 10  FECHA_PRIM_MATR    object
 11  CLASE_MATR         int64
 12  PROCEDENCIA        float64
 13  NUEVO_USADO        object
 14  TIPO_TITULAR       object
 15  NUM_TITULARES      int64
 16  SUBTIPO_DGT        object
 17  TIPO_DGT           object
 18  CAT_EURO           object
 19  CLAS_CONSTRUCCION  object
 20  CLAS_UTILIZACION   object
 21  SERVICIO           object
 22  RENTING            object
 23  TARA               int64
 24  PESO_MAX           int64
 25  MOM                float64
 26  MMTA               float64
 27  CILINDRADA         int64
 28  POTENCIA           object
 29  KW                 object
 30  PROPULSION         object
 31  CATELECT           object
 32  CONSUMO            float64
 33  AUTONOMIA          object
 34  ALIMENTACION       object
 35  TIPO_DISTINTIVO    object
 36  EMISIONES_EURO     object
 37  EMISIONES_CO2      float64
 38  CARROCERIA         object
 39  DISTANCIA_EJES     float64
 40  EJE_ANTERIOR       float64
 41  EJE_POSTERIOR      float64
 42  PLAZAS             int64
 43  PLAZAS_MAX         int64
 44  PLAZAS_PIE         float64
dtypes: float64(11), int64(8), object(26)
memory usage: 12.7+ GB

In [5]:
df.head()

,PROVINCIA,MUNICIPIO,FABRICANTE,MARCA,MODELO,TIPO,VARIANTE,VERSION,PROVINCIA_MATR,FECHA_MATR,...,TIPO_DISTINTIVO,EMISIONES_EURO,EMISIONES_CO2,CARROCERIA,DISTANCIA_EJES,EJE_ANTERIOR,EJE_POSTERIOR,PLAZAS,PLAZAS_MAX,PLAZAS_PIE
0,14,NaN,NaN,HONDA,¡,NaN,¡,¡,29.0,13/09/2005,...,DISTINTIVO C,EURO III,NaN,NaN,0.0,0.0,0.0,2,2,0.0
1,14,NaN,NaN,RENAULT,¡,17GK,¡,¡,1.0,27/03/2012,...,DISTINTIVO B,EURO V,0.0,NaN,0.0,0.0,0.0,3,3,0.0
2,4,4013.0,"JIANGSU DAFIER MOTORCYCLE CO., LTD",HANWAY,¡,¡,¡,¡,3.0,13/08/2015,...,DISTINTIVO B,EURO 2,0.0,NaN,1355.0,0.0,0.0,2,2,0.0
3,20,20040.0,NaN,TOYOTA,TOYOTA LAND CRUISER,NaN,NaN,NaN,5.0,07/08/2003,...,SIN DISTINTIVO,EURO 3,NaN,NaN,0.0,0.0,0.0,5,5,0.0
4,8,8019.0,PORSCHE AG,PORSCHE,¡,¡,¡,¡,5.0,01/08/2017,...,DISTINTIVO C,EURO 5,268.0,AD,2350.0,1490.0,1548.0,4,4,0.0

In [6]:
# Tras un primer análisis de las variables, eliminamos las columnas que consideramos irrelevantes para el estudio

columns_delete = ["MUNICIPIO", "FABRICANTE", "TIPO", "VARIANTE", "VERSION", "CLASE_MATR", "PROCEDENCIA", "NUEVO_USADO", "TIPO_TITULAR", "NUM_TITULARES", "SUBTIPO_DGT", "CLAS_CONSTRUCCION", 
                  "CLAS_UTILIZACION", "SERVICIO", "MOM", "MMTA", "CARROCERIA", "DISTANCIA_EJES", "EJE_ANTERIOR", "EJE_POSTERIOR", "PLAZAS", "PLAZAS_MAX", "PLAZAS_PIE" 
                  ]

df.drop(columns = columns_delete, inplace=True)

In [7]:
# Pasamos de 12GB de Memoria a 6,8GB

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37890861 entries, 0 to 37890860
Data columns (total 22 columns):
 #   Column           Dtype
---  ------           -----
 0   PROVINCIA        int64
 1   MARCA            object
 2   MODELO           object
 3   PROVINCIA_MATR   float64
 4   FECHA_MATR       object
 5   FECHA_PRIM_MATR  object
 6   TIPO_DGT         object
 7   CAT_EURO         object
 8   RENTING          object
 9   TARA             int64
 10  PESO_MAX         int64
 11  CILINDRADA       int64
 12  POTENCIA         object
 13  KW               object
 14  PROPULSION       object
 15  CATELECT         object
 16  CONSUMO          float64
 17  AUTONOMIA        object
 18  ALIMENTACION     object
 19  TIPO_DISTINTIVO  object
 20  EMISIONES_EURO   object
 21  EMISIONES_CO2    float64
dtypes: float64(3), int64(4), object(15)
memory usage: 6.2+ GB

In [8]:
df.TIPO_DGT.value_counts()

TIPO_DGT
TURISMOS                  25356594
MOTOCICLETAS               4162850
FURGONETAS                 2681233
CAMIONES                   2466998
CICLOMOTORES               1815623
OTROS vehiculos             546684
R Y S                       540907
TRACTORES INDUSTRIALES      253334
AUTOBUSES                    66638
Name: count, dtype: int64

In [9]:
cond_tipo_dgt = df.TIPO_DGT == "TURISMOS"
cond_distintivo = (df.TIPO_DISTINTIVO == "ECO") | (df.TIPO_DISTINTIVO == "CERO")

df_turismos_eco_zero = df.loc[cond_tipo_dgt & cond_distintivo]

In [10]:
# El scope de registros se reduce a 1600000
df_turismos_eco_zero.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1620165 entries, 13 to 37890848
Data columns (total 22 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PROVINCIA        1620165 non-null  int64
 1   MARCA            1620165 non-null  object
 2   MODELO           1620165 non-null  object
 3   PROVINCIA_MATR   1620146 non-null  float64
 4   FECHA_MATR       1620165 non-null  object
 5   FECHA_PRIM_MATR  1620165 non-null  object
 6   TIPO_DGT         1620165 non-null  object
 7   CAT_EURO         1620029 non-null  object
 8   RENTING          1611275 non-null  object
 9   TARA             1620165 non-null  int64
 10  PESO_MAX         1620165 non-null  int64
 11  CILINDRADA       1620165 non-null  int64
 12  POTENCIA         1620165 non-null  object
 13  KW               1620160 non-null  object
 14  PROPULSION       1619778 non-null  object
 15  CATELECT         1476571 non-null  object
 16  CONSUMO          1620160 non-null  float64
 17  AUTONOMIA        1609558 non-null  object
 18  ALIMENTACION     1577490 non-null  object
 19  TIPO_DISTINTIVO  1620165 non-null  object
 20  EMISIONES_EURO   1616012 non-null  object
 21  EMISIONES_CO2    1601902 non-null  float64
dtypes: float64(3), int64(4), object(15)
memory usage: 284.3+ MB

In [11]:
df_turismos_eco_zero.to_csv(TURISMO_ECO_ZERO_FILENAME_RAW, sep = CSV_SEPARADOR_COLUMNAS)

In [12]:
cond_tipo_dgt = df.TIPO_DGT == "TURISMOS"
cond_distintivo = (df.TIPO_DISTINTIVO != "ECO") & (df.TIPO_DISTINTIVO != "CERO")

df_turismos_NO_eco_zero = df.loc[cond_tipo_dgt & cond_distintivo]

In [13]:
df_turismos_NO_eco_zero.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23736429 entries, 4 to 37890860
Data columns (total 22 columns):
 #   Column           Dtype
---  ------           -----
 0   PROVINCIA        int64
 1   MARCA            object
 2   MODELO           object
 3   PROVINCIA_MATR   float64
 4   FECHA_MATR       object
 5   FECHA_PRIM_MATR  object
 6   TIPO_DGT         object
 7   CAT_EURO         object
 8   RENTING          object
 9   TARA             int64
 10  PESO_MAX         int64
 11  CILINDRADA       int64
 12  POTENCIA         object
 13  KW               object
 14  PROPULSION       object
 15  CATELECT         object
 16  CONSUMO          float64
 17  AUTONOMIA        object
 18  ALIMENTACION     object
 19  TIPO_DISTINTIVO  object
 20  EMISIONES_EURO   object
 21  EMISIONES_CO2    float64
dtypes: float64(3), int64(4), object(15)
memory usage: 4.1+ GB

In [14]:
df_turismos_NO_eco_zero.to_csv(TURISMO_OTROS_FILENAME_RAW, sep = CSV_SEPARADOR_COLUMNAS)